.map-information-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px 20px 20px;
  font-family: "Inter";
  font-style: normal;

}
.map-mobile {
}

.map-information-container {
}
.map-information-title {
}
.map-information-address {
}
.map-information-address-container {
}
.map-information-address-address {
}
.map-information-schedule {
}
.map-information-contacts-container {
}
.map-information-contacts {
}
.map-information-phone-link {
}
.map-masseng {
}
.map-button {
}
.map-button-link {
}