.swiper-wrapper {
  max-width: 1366px;
}

.swiper-wrapper {
  width: 674px;
  height: 471px;
}
.mySwiper {
  height: 461px;
}
.swiper-pagination {
  width: 35px;
  height: 19px;
  left: 496px;
  bottom: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.swiper-button-prev-1 {
  left: 50px;
}
.swiper-button-prev-1,
.swiper-button-next-1 {
  cursor: pointer;
}

.swiper-button-next-1 {
  position: absolute;
  top: 395px;
  left: 556px;
  height: 0;
  width: 40px;
  z-index: 1;
}
.swiper-button-prev-1 {
  position: absolute;
  top: 395px;
  left: 420px;
  height: 0;
  width: 40px;
  z-index: 1;
}

.prev {
  transform: rotate(180deg);
}
