.wrapper-family {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  max-width: 1366px;
  width: auto;
}
.swiper-slide {
  width: 375px;
  margin: 0;
}
.swiper-pagination {
  width: 0;
  display: flex;
  left: 465px;
  bottom: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.swiper-button-prev-1,
.swiper-button-next-1 {
  cursor: pointer;
}

.swiper-button-next-1 {
  position: absolute;
  top: 395px;
  left: 534px;
  height: 20;
  width: 40px;
  z-index: 1;
}
.swiper-button-prev-1 {
  position: absolute;
  top: 395px;
  left: 392px;
  width: 40px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .swiper-wrapper {
  }
  .swiper-button-prev-1,
  .swiper-button-next-1 {
    position: absolute;
    top: 720px;
    z-index: 1;
  }
  .swiper-button-prev-1 {
    left: 110px;
  }
  .swiper-button-next-1 {
   left: 233px;
  }
  .swiper-pagination {
    left: 110px;
    top: 2563px;
    z-index: 1;
  }
  .wrapper-family {
    height: 798px;
  }
}
