.footer {
  background-color: var(--light-black);
  position: relative;
  padding-left: 72px;
}
.footer__border {
  width: 1250px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 58px;
}
.footer__information {
  display: flex;
}

.footer__logo {
  padding: 64px 159px 85px 0;
}

.footer__logo-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  text-align: center;
}

.footer__company {
  padding: 74px 70px 79px 0;
}

.company-footer {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
}
.footer__phone-number {
  display: flex;
  flex-direction: column;
  padding: 76px 108px 103px 0;
}
.footer__phone-number-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer__connection {
  padding: 76px 0px 76px 0;
}

.footer__message-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__message {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding-top: 18px;
}

.footer__message-link {
  text-decoration: none;
}

.footer__catalog {
  display: flex;
}

.footer__catalog-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  padding-bottom: 29px;
}
.footer__navigation {
  display: flex;
  padding-bottom: 80px;
}

.footer__navigation-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  margin: 40px 0 29px 0;
  display: block;
}
.footer__navigation-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.footer__navigation-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: var(--white);
}
.footer__navigation--first {
  margin-right: 104px;
}

.footer__navigation--second {
  margin-right: 94px;
}
.footer__navigation--third {
  margin-right: 25px;
}
.pernos {
  line-height: 0;
}
.footer__container-button-link {
  display: flex;
  flex-direction: column;
}
.footer__button-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: var(--yellow-light-1);
  border: 1px solid #ffc239;
}
.footer__button-link-calculator {
  padding: 18px 23px 18px 22px;
  border-radius: 37px;
  margin: 40px 0 14px 63px;
  text-align: center;
  line-height: 19px;
}
.footer__button-link-connection {
  padding: 15px 51px 17px 50px;
  border-radius: 25px;
  text-align: center;
  margin-left: 63px;
}

.footer__law {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: -72px;
  padding: 17px 71px 24px 52px;
  display: grid;
  grid-template-columns: 2.9fr 1.2fr 1.1fr 0fr;
}
.footer__law-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.4;
}
