.header__information {
  display: flex;
  padding: 0 71px;
  /*контетнт хедера  */
}

.header__logo {
  margin: 17px 163px 0 0;
  /* контейнер для логотипа */
}

.header__logo-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  text-align: center;
  /* текст над логотипом */
}

.header__company {
  margin-right: 115px;
  /* о компании */
}
.company {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.8);
  /* текст контейнера о компании */
}
.email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #212864;
  /* почта */
}
.header__company-email {
  margin: 22px 0 8px 50px;
  right: 0;
  /* текст перед почтой */
}
.header__company-address {
  margin: 0;
  /* текст адресс */
}
.header__company-schedule {
  margin: 10px 0 22px 45px;
  /* текст расписание */
}

.header__phone-number {
  display: flex;
  flex-direction: column;
  margin: 29px 0 0;
  /* контейнер номеров телефона */
}
.header__phone-number-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue-darken-1);
  /* номера телефонов */
}

.header__connection {
  margin-left: auto;
  /* контейнер с кнопкой */
}

.header__connection-call {
  padding: 14px 39px 13px;
  box-sizing: border-box;
  border: 1px solid var(--blue-darken-1);
  border-radius: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--blue-darken-1);
  margin: 20px 0 8px;
  background: #ffffff;
  /* кнопка контейнера  */
}
.header__menu-link--active {
  color: #ffc239 
}

.header__message {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  /*контейнер ссылак на соц.сети */
}
.header__message-link {
  text-decoration: none;
  /* ссылки на соц. сети */
}

.header__menu {
  height: 57px;
  background: #15193d;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 18px 112px 22px 90px;
}
.header__menu-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
/* синий контейнер */
.header__navigation {
  height: 45px;
  background: #8c93d1;
}
.header__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 13px 116px 15px 90px;
  margin: 0;
}
/* сиреневый контейнер  */
.header__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 50px;
}

.header__list-item:last-child a {
  border: none;
}
@media screen and (max-width: 1266px) {
  .header__company,
  .header__logo {
    margin-right: 50px;
  }
  .header__catalog-link {
    padding-right: 25px;
  }
  .header__information {
    padding: 0 28px;
  }
}

@media screen and (max-width: 992px) {
  .header__company,
  .header__logo {
    margin-right: 10px;
  }
  .header__information {
    padding: 0 10px;
  }
  .header__catalog-list {
    padding: 13px 50px 15px 50px;
  }
}
