.header {
  width: 1366px;
  height: 768px;
  /* высота и ширина хедера */
}
.header__wrapp {
  display: flex;
}

.header__logo {
  height: 78px;
  width: 201px;
  margin: 17px 0 20px 71px;
  /* логотип */
}

.header__logo-text {
  margin: 0 0 1px 0;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  /* текст над хедером */
}

.header__information {
  display: flex;
  height: 115px;
  /*контетнт хедера  */
}

.header__connection-email {
  display: flex;
  /* самая верхняя часть хедера */
}

.phone__number {
  display: flex;
  flex-direction: column;
  margin: 29px 113px 40px 0px;

  /* телефоны */
}

.phone__number-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #212864;
  padding: 8px 0 0 0;
  /* номера телефонов */
}

.company {
  margin: 24px 115px 22px 163px;
}
.email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0 0 8px 50px;
  color: rgb(0, 0, 0, 0.8);
  /* напишите нам */
}
.email a {
  text-decoration: none;
  color: var(--link-color);
  /* ссылка  */
}
.address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0, 0.8);
  /* адрес */
}
.schedule {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 0 45px;
  margin: 0;
  color: rgb(0, 0, 0, 0.8);
  /* график */
}

.call {
  margin: 20px 71px 8px 0;
  width: 200px;
  height: 42px;
  border: solid 1px var(--link-color);
  border-radius: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: #FFFFFF;
  /* кнопка */
}

.connection {
  display: flex;
  flex-direction: column;
  /* блок кнопки и сетей */
}
.message {
  width: 178px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  /* блок картинок сетей */
}

.message a {
  display: inline;
  text-decoration: none;
  /* картинки сетей  */
}

.header__navigation-list {
  display: flex;
  width: 1366px;
  height: 57px;
  justify-content: space-around;
  background-color: #15193D;
  margin: 0;
  align-items: center;
}
.header__navigation-list-item {
list-style-type: none;
}


.header_navigation-link {
text-decoration: none;
color: #FFFFFF;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
} 

.header_navigation-link:hover{
  color: #FFC239;
}