.products__swiper {
  max-width: 1200px;
  height: 417px;
}
.swiper-wrapper {
  height: 355px;
}
.swiper {
  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.button-swiper {
  width: 13px;
  height: 39px;
}
.swiper-button-next {
  right: 47px;
  top: 209px;
}
.swiper-button-prev {
  left: 47px;
  top: 209px;
}

.swiper-slide .swiper-slide-active {
  width: 305px;
}


@media screen and (max-width: 375px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .wrapper {
    width: 100%;
    overflow: hidden;
    
  }
  .swiper-slide {
    width: 285px;
  }
}
