.products__swiper {
  max-width: 1200px;
}

.wrapper {
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.button-swiper {
  width: 13px;
  height: 39px;
}
.swiper-button-next {
  right: 47px;
  top: 209px;
}
.swiper-button-prev {
  left: 47px;
  top: 209px; 
}

.swiper-slide .swiper-slide-active {
  width: 305px;
}
